body {
    height: 3000px;
    background-color: rgb(142, 108, 142);
    margin: 0;
}

.header {
    display: flex;
    background-color: rgb(43, 39, 47);
    top: 0;
    left: 0;
    right: 0;
    height: fit-content;
    padding-block: 7px;
    padding-inline: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.left-section {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.profile-picture {
    width: 37px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.user {
    margin-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-block: 0;
    color: white;
}

.right-section {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    height: 100%;
    padding: 0;
}

.add-friend-button {
    background-color: rgb(102, 35, 102);
    color: white;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px;
    padding-inline: 10px;
    margin-block: 0;
    cursor: pointer;
}

.message-button {
    background-color: rgb(234, 234, 234);
    font-weight: bold;
    font-size: 11px;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 75px;
    margin-block: 0;
    cursor: pointer;
}

body {
    padding-top: 51px;
}

.sidebar-grid {
    width: 25%;
    background-color: burlywood;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: fixed;
}

.profile-sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    row-gap: 10px;
    background-color: rgb(43, 39, 47);
    max-width: 60px;
    padding-top: 20px;
    top: 51px;
    bottom: 0;
    left: 0;
    justify-content: start;
    align-items: center;
    padding-inline: 5px;
}

.cat-picture {
    width: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.info-sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 70px;
    top: 51px;
    padding: 15px;
    width: 18%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(82, 73, 90);
    color: lightgray;
    bottom: 0;
    justify-content: start;
}

.info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.info-title {
    color: white;
    font-size: 12px;
    padding: 0;
    margin: 0;
    align-items: center;
}

.plus-symbol {
    font-size: 20px;
    align-items: center;
    cursor: pointer;
}

p {
    cursor: pointer;
}